<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pending Tasks</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    #myButton {
      padding: 10px 20px;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    tr:last-child td {
      white-space: normal;
    }

    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    .pagination a {
      padding: 10px 20px;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      background-color: #505459;
      margin: 0 10px;
    }

    .disabled {
      background-color: gray;
      cursor: not-allowed;
    }

    @media only screen and (max-width: 600px) {
      table {
        border: 0;
        font-family: arial, sans-serif;
      }
      
      table th {
        display: none;
      }
      
      table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
      }
      
      table td {
        display: block;
        text-align: left;
        font-size: 13px;
      }
      
      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }
    }
  </style>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script>
    
    function formatDate(date) {
      const day = String(date.getDate()).padStart(2, '0');
      const month = String(date.getMonth() + 1).padStart(2, '0');
      const year = date.getFullYear();
      const hours = String(date.getHours()).padStart(2, '0');
      const minutes = String(date.getMinutes()).padStart(2, '0');

      return `${year}-${month}-${day} ${hours}:${minutes}`;
    }

    window.onload = function() {
      const elements = document.getElementsByClassName('dateElement');
      for (let i = 0; i < elements.length; i++) {
        const currentDate = new Date(elements[i].textContent);
        const formattedDate = formatDate(currentDate);
        elements[i].textContent = formattedDate;
      }
    };

  </script>
</head>
<body>

  <header>
    <%- include('./partials/header'); %>
  </header>

  <h2>Pending Tasks</h2>
  <a href="/views/taskcreate" class="btn">Create Tasks</a>
  <p>Click or tap task status to update from pending to completed.</p>
  <table>
    <tr>
      <th>Task Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Date Created</th>
      <th>Start</th>
      <th>Due</th>
      <th> </th>
      <th> </th>
    </tr>
      <% tasks.forEach(task => { %> <% if (task.status === 'pending') { %>
        <tr>
          <td><%= task.task_name %></td>
          <td><%= task.description %></td>
          <td>
            <form action="/views/tasks/update/<%= task._id %>" method="PUT">
              <input 
              id="statusUpdate"
              type="hidden" 
              name="status" 
              value="completed"
              />

              <button 
              id="myButton"
              type="submit"
              class="myButton"
              formmethod="post" 
              title="Click to change status of task!"
              style="background-color: #e57411">
                <%= task.status %>
              </button>
            </form>
          </td>
          <td class="dateElement"><%= task.created_at %></td>
          <td class="dateElement"><%= task.start_date %></td>
          <td class="dateElement"><%= task.due_date %></td>
          <td>
            <a href="/views/tasks/edit/<%= task._id %>">
              <button
              id="myButton"
              type="submit"
              class="myButton"
              formmethod="get" 
              title="Edit!"
              style="background-color: #505459">
                <i class="fa fa-edit" style="font-size:24px"></i>
              </button>
            </a>
          </td>
          <td>
            <form action="/views/tasks/delete/<%= task._id %>" method="DELETE">
              <input 
              id="statusUpdate"
              type="hidden" 
              name="status" 
              value="deleted"
              />
              <button
              id="myButton"
              type="submit"
              class="myButton"
              formmethod="post" 
              title="Temporary delete!"
              style="background-color: #710202">
                <i class="material-icons">delete</i>
              </button>
            </form>
          </td>
        </tr>
      <% } else { %>
        <tr>
          <td><%= task.task_name %></td>
          <td><%= task.description %></td>
          <td>
            <form action="/views/tasks/update/<%= task._id %>" method="PUT">
              <input 
              id="statusUpdate"
              type="hidden" 
              name="status" 
              value="pending"
              />

              <button 
              id="myButton"
              type="submit"
              class="myButton"
              formmethod="post" 
              title="Click to change status of task!"
              style="background-color: #086c28">
                <%= task.status %>
              </button>
            </form>
          </td>
          <td class="dateElement"><%= task.created_at %></td>
          <td class="dateElement"><%= task.start_date %></td>
          <td class="dateElement"><%= task.due_date %></td>
          <td>
            <a href="/views/tasks/edit/<%= task._id %>">
              <button
              id="myButton"
              type="submit"
              class="myButton"
              formmethod="get" 
              title="Edit!"
              style="background-color: #505459">
                <i class="fa fa-edit" style="font-size:24px"></i>
              </button>
            </a>
          </td>
          <td>
            <form action="/views/tasks/delete/<%= task._id %>" method="DELETE">
              <input 
              id="statusUpdate"
              type="hidden" 
              name="status" 
              value="deleted"
              />
              <button
              id="myButton"
              type="submit"
              class="myButton"
              formmethod="post" 
              title="Temporary delete!"
              style="background-color: #710202">
                <i class="material-icons">delete</i>
              </button>
            </form>
          </td>
        </tr>
      <% }; %>
      <% }); %>
  </table>
  <% if (tasks.length === 0){ %>
    <h5>You have no pending task.</h5>
  <% } %>
  
  <!-- Pagination buttons -->
  <div class="pagination">
    <% if (current > 1) { %>
        <a href="/views/taskspending?page=<%= Number(current) - 1 %>" class="btn">Previous</a>
    <% } else { %>
        <a class="btn" style="cursor: not-allowed;">Previous</a>
    <% } %>

    <p>Page <%= current %> of <%= pages %></p>

    <% if (current < pages) { %>
        <a href="/views/taskspending?page=<%= Number(current) + 1 %>" class="btn">Next</a>
    <% } else { %>
        <a class="btn" style="cursor: not-allowed;">Next</a>
    <% } %>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</body>
</html>

